server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;
    root {{.DocumentRoot}};

    location /status {
         add_header 'Content-Disposition' 'inline';
         return 200 'healthy';
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

    access_log syslog:server=unix:/dev/log,facility=local1 default_short;
    error_log syslog:server=unix:/dev/log,facility=local1;
}
